html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block ;
}
body {
    line-height: 1;
    background-color:#282c34;
  }
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.App {
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align: center;
  text-decoration: none;
  font-family:arial;
  background-color:#282c34;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0s linear;
  }
}
.Nav{
  display: flex;
  justify-content:flex-end;
  font-weight:bold;
  font-family:Arial;
  color:white;
  background-color:#282c34;
  
}
.Nav a{
  background-color:#61dafb;
  color:white;
  text-align:center;
  text-decoration: none;
  font-size:1em;
  width: 5em;
  margin: .5em;
  padding: .5em;
}

.Hello {
  color:White;
  font-family:arial;
  font-size:3em;
  font-weight:bold;
  margin-top:10vh;
  margin-bottom:.4vh;

}

.Hello b{
  color: #61dafb;
  
}
.AboutMe {
  display:Flex;
  justify-content:center;
  font-size:1.2em;
  text-align:left;
  color:white;
  margin-left:.5em;
  margin-right:.5em;
  margin-bottom:30vh;
 
}
.AM1{
  text-align:center;
  width:70%;
}

.Vince{
  margin-top:5vh;
}
.Footer {
  display: flex;
  justify-content:center;
  font-size:2em;
  color:white;
  font-family:arial;
  font-weight:bold;
  background-color:#282c34;
}
.Social {
  display: flex;
  justify-content:center;
  font-weight:bold;
  font-family:Arial;
  color:white;
  background-color:#282c34;
  
}
.Social a{
  background-color:#61dafb;
  color:white;
  text-align:center;
  text-decoration: none;
  font-size:1em;
  width: 5em;
  margin: .5em;
  padding: .5em;
  margin-bottom:1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
