html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block ;
}
body {
    line-height: 1;
    background-color:#282c34;
  }
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.App {
  display:flex;
  flex-direction:column;
  text-align: center;
  text-decoration: none;
  font-family:arial;
  height:100vh;
  width:100%;
  /* background-color:#282c34; */
}
.App-logo {
  pointer-events: none;
  width:500px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.Spin{
  display:flex;
  justify-content:Center;
}
.BiggerDiv{
  margin-top:-270px;
}
.Vince{
  display:Flex;
  justify-content:center;
  justify-items:center;
  margin-top:5vh;
  font-size:1.2em;
  color:black;
  font-family:arial;
  font-size:3em;
  font-weight:bold;
  z-index:2;
}
.Vince1{
  justify-content:center;
  background-color:white;
  width:322px;
  z-index:2;
}

.Social {
  display: flex;
  justify-content:center;
  font-weight:bold;
  font-family:Arial;
  color:white;
  padding-top:-10vh;
  /* background-color:#282c34; */
  
}
.Social a{
  background-color:#61dafb;
  color:white;
  text-align:center;
  text-decoration: none;
  font-size:1em;
  width: 5em;
  margin: .5em;
  padding: .5em;
  margin-bottom:1em;
  z-index:2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 450px) {
  .BiggerDiv { 
    margin-top:-210px;
  }
}